body{
    background-color: #e1e1e1;
   
}

.container{
    max-width: 80rem;
    width: 95%;
    height: 20rem;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
}
.btn{
    border: none;
    outline: none;
    border: 1px solid #bdbfc0;
    background-color: #fff;
    flex: 1;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;

}
.header{
    text-align: center;
    padding: 4rem 0;
}
.result span{
    display: block;
    margin-top: .5rem;
    font-weight: bold;
}